.card__container__landing {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
  }
  @media (min-width: 1200px) {
    .card__container__landing {
      max-width: 1200px;
    }
  }
  
  .landingcard__content {
    font-family: "Gordita";
  }
  .landing__card {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: 1px solid rgba(128, 120, 120, 0.5);
    flex: 0 0 24%;
    padding: 36px 0px 20px;
    border-radius: 10px;
    flex: 1 0 20%;
  }
  
  .landingcard__image {
    font-size: 1.5rem;
    border-radius: 10px;
    max-width: 70px;
    min-width: 70px;
    max-height: 70px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .landingcard__title {
    font-size: 18px;
    color: var(--h3);
    font-weight: 500;
    line-height: 50px;
  }
  .landingcardsubtitle {
    color: var(--toast);
  }
  
  @media screen and (max-width: 772px) {
    .landingcard__title {
      line-height: 32px;
    }
  }
  @media screen and (max-width: 540px) {
    .landing__card {
      padding: 20px;
    }
    .landingcard__title {
      line-height: 24px;
    }
    .landingcard__content {
      row-gap: 24px;
    }
  }
  