.gallery {
    display: flex;
    flex-wrap: wrap;
  }
  .gallery .single_item {
    max-width: 20%;
    width: 20%;
  }
  .w_lg_50 {
    width: 50% !important;
  }
  .position_relative {
    position: relative !important;
  }
  .category__label {
    font: 0.8em "Gordita", sans-serif;
    font-weight: 500;
    border: 1px solid #a7a6a6;
    box-sizing: border-box;
    border-radius: 19.5px;
    background-color: white;
    transition: all 0.2s ease;
    padding: 6px 14px;
    box-shadow: none;
    white-space: nowrap;
    color: #3a3a3a;
    width: max-content;
  }
  .category__label:focus {
    color: #ffffff;
    background-color: #ec1f28;
    transition: none;
    box-shadow: none;
    border: 1px solid #ec1f28;
  }
  .category__label:hover {
    color: #ec1f28;
    background-color: #ffffff;
    border: 1px solid #ec1f28;
  }
  .pos_lg_abs_c {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and (max-width: 772px) {
    .pos_lg_abs_c {
      position: relative;
      top: 200px;
      left: 50%;
    }
    .text-black2 {
      color: var(--h3);
    }
    .w_lg_50 {
      width: 100% !important;
    }
    .gallery__image__person {
      width: 100%;
    }
  }
  
  @media screen and (max-width: 540px) {
    .pos_lg_abs_c {
      position: relative;
      top: 200px;
      left: 50%;
    }
    .w_lg_50 {
      width: 100% !important;
    }
    .gallery__image__person {
      width: 100%;
    }
  }
  